<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xianzhuo.library.persistence.BookMapper">
    <resultMap id="BookResult" type="com.github.xianzhuo.library.model.Book">
        <id property="id" column="id"/>
        <result property="isbn" column="isbn"/>
        <result property="name" column="name"/>
        <result property="publisher" column="publisher"/>
        <result property="authors" column="authors"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <resultMap id="BookFactResult" type="com.github.xianzhuo.library.model.BookFact">
        <id property="id" column="id"/>
        <result property="bookId" column="book_id"/>
        <result property="name" column="name"/>
        <result property="value" column="value"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>
</mapper>